.box{
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-direction: column;
    
    height:auto;

}
.two-boxes{
    display: flex ;
    justify-content:space-between;
    align-items: flex-start;
  
}
.complete{
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFF;
 
}
.pendiente{
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}
.tarea{
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 10px;
background: #FFF;
}
 