 *{ 
  margin: 0%;
  padding: 0%;
 }
 html,
 body{
  background-color: #1B1C1F;
  width: 100%;
  height: 100vh;
 }
 .App{
   display:flex;
   justify-content:center;
    
 
 }
 .title{
  color: #F6F7F9;
  font-family: Overpass;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
 }
 .contenedor-principal{
  display: flex;
  justify-content:space-between;
  flex-direction: column;
 }
 .contenedor-añadir{
  display: flex;
  flex-direction: row;

  
 } 